.enroll-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.dropdown-title {
    font-weight:500;
  }
.dropdown{
 
  align-self: center;
   max-width: 300px;
    margin-top: 50px;
}
Button{
    margin-top: 30px;
    align-self: center;
}
.select{
    max-width: 300px;
    min-width: 270px;
    justify-self: center;
    align-self: center;
}