.enroll-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.enroll-dropdown-title {
    font-weight:500;
  }
.enroll-dropdown{
 
  align-self: center;
   max-width: 300px;
    margin-top: 30px;
}
.enroll-button{
    margin-top: 30px;
    align-self: center;
    margin-bottom: 10px;
    
}
.enroll-select{
    max-width: 300px;
    min-width: 270px;
    justify-self: center;
    align-self: center;
}