.div-container{
    display:grid;
    justify-content: center;
    margin-top: 40px;
    place-items: center;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.card-container{
    height:80px;
    width:180px;
    margin-bottom:10px;
    margin-right: 20px;
    margin-left: 20px;
}
.select-dd{
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    width:30vw;
    height:5vh;
    background-color: rgba(176, 196, 222, 0.43);
}
.hod-dd{
    justify-content: space-evenly;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}
h1{
    color:rgba(11, 91, 138, 1);
    margin-left: 30px;
    font-size:x-large;
    display: flex;
    position:start;
    margin-top:30px;
}
h2{
    color:rgba(11, 91, 138, 1);
    margin-left: 30px;
    font-size:x-large;
    display: flex;
    position:start;
}
.dd-text{
    font-size:large;
}
button{
    margin-top: 20px;
}
.Card{
    size:80%;
}

