.grading {
  width: 100vw;
  min-height: 100vh; 
  display: flex;
  flex-direction: row;
}

.grading::-webkit-scrollbar {
  display: none;
}

.left {
  width: 25%;
  display: flex;
  position: fixed;
  gap: 4px;
  flex-direction: column;
  justify-content: start;
  background-color: rgba(14, 114, 171, 1);
  color: #e4e4e4;
  padding: 9px;
  padding-bottom: 40px;
  min-height: 100vh;
}

.right {
  width: 75%;
  margin-left: 320px;
  height: max-content;
  background-color: #ffffff;
  padding: 0px;
  padding-top: 20px;
  overflow-y: scroll;
}

.right::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.right::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.right::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:6px;
}

/* Handle on hover */
.right::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.fas fa-arrow-left {
  position: fixed;
  top: 8px;
  margin-left: 5px;
  cursor: pointer;
}

.inputStyle{
  width: 24px;
  border-radius: 10px;
  text-align: center;
  outline:none;
  border: none;
  padding: 6px;
  background-color: #e4e4e4;
  color: black;
  font-size: 14px;
  font-weight: 600;
  resize:none,
}

.error{
  background-color: #e76c6c;
}

.details {
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  margin-right: auto; 
  flex-direction: column;
}

.details div:first-child{
  padding-left: 8px;
}

.details i{  
  margin: 0px;
  padding: 0px;
  padding-left: 12px;
  transform: translateY(3px);
}
.details i:hover{
  transform: scale(1.05);
}
.left p {
  margin-left: 8px;
  margin-right: 8px;
}
.mid1title{
  text-align: center;
  font-size: larger;
  font-weight: 700;
  letter-spacing: 1.5pt;
}

.marksType{
  text-align: center;
  font-size:large;
  font-weight: 400;
  letter-spacing: 1pt;

}
 
 
.inputStyle:focus {
  box-shadow: 0 0 5px #bbe8ff;
  background-color: #bbe8ff ;
}


.mid1 {
  display: flex;
  flex-direction: column;
}
.mid2{
  display: flex;
  flex-direction: column;
}

.mid2 > div {
  display: flex;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
  justify-content: space-between;
}
.mid1 > div {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.leftnav {
  padding: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

select {
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.dropdown {
  position: relative;
  grid-area: dd;
}
.mids {
  width: 24px;
  border-radius: 10px;
  text-align: center;
}

.dropdown-i {
  position: absolute;
  right: 40px;
  top: 30%;
}
.fas fa-chevron-circle-left {
  size: 30px;
}

.savebutton{
  margin: 20px auto;
  text-align: center;
  border-radius: 7px !important;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size:large;
  background-color: #0e72ab;
  color: white;
 padding: 6px !important;
  height: auto !important;
  width:100px;
  align-self: center;
  cursor: pointer;
 
}
.savebutton:hover{
  box-shadow: none;
  border:1px solid #e5e4e2;

}
.savebutton:disabled{
  background-color: grey;
  cursor:not-allowed;
  box-shadow: none;
}

.display {
  grid-area: pr;
  width: 100%;
}

.btngrading {
  margin-left: auto;
  margin-right: auto;
}

.remarks {
  grid-area: re;
  justify-self: center;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 12px;
}

.remarks-title {
  margin-top: auto;
  /* grid-area: rt; */
  align-self: flex-start;
  text-align: left;
  font-size: large;
}

.preview {
  width: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    ". title dd "
    "pr pr pr "
    "rt rt rt"
    "re re re";
}
.menubar {
  background-color: rgb(4, 43, 116);
}
.remarksCon {
  margin-top: 20px;
  grid-area: rt;
  display: flex;
  gap: 8px;
  flex-direction: column;
  min-height : 20vh;
}

.selectMid{
  width: auto;
  outline: none;
  border: none;
  border-radius: 14px;
  background-color: #e5e4e2;
  font-size: large;
  font-weight: 500;
  padding: 10px;
  
  /* -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+); */
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;  
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 3rem;
}

.selectList{
  background-color: #e5e4e2;
  width: "200px";
  font-size: large;
  border: none;
  font-weight: 400;
  outline: none;
  height: 40px;
  text-indent: 8px;
  vertical-align:19px;
  padding:8px;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
  background: url("http:cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 100% center"); */

}

.notSubmitted{
  margin: 40px auto;
  color: #4f4f4f;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.searchBtn{
  background-color: transparent;
  border: none;
  outline: none;
  color:white;
  padding: 0px;
  cursor: pointer;
}
.searchBtn:hover{
box-shadow: none;
}

.searchBtn:disabled{
  cursor:no-drop;
}

.inputField{
  outline: none;
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 6px;
}

.backIcon{
  color: white;
}

@media screen and (max-width: 770px) {
  .backIcon{
    color: black;
  }
  .grading {
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
    height: auto;
    position: relative;
    overflow: visible;
    gap: 30px;
  }
  .black{
    top: 10px !important;
    color: rgb(100, 100, 100);
  }
  .left {
    width: auto;
    height: max-content;
    padding: 10px;
  }
  .right {
    height: auto;
    width: auto;
  }
  .remarksCon {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    width: auto;
    flex-direction: column;
    transform: translateY(270px);
    display: flex;
  }
  .savebutton{
    font-size: large;
  }
  .preview{
      margin: 16px;
  }
}

.rollNo{
  outline: none;
  border: none;
  width: 100%;
  /* background-color: #c5c5c5; */
  font-size: large;
  border-radius: 6px;
  padding: 6px;
}



@media screen and (max-width: 1220px) and (min-width:770px) {
  .details{
    flex-direction: column;

  }
  .details div{
    display: flex;
    flex-direction: column;
    justify-items: center;
   
  }
  .details i{
    padding: 8px;
    margin: auto;
  }
}

