.grading {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
.details {
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  margin-right: auto; 
  flex-direction: column;
}
.details div:first-child{
  padding-left: 8px;
}

.details i{
  
  margin: 0px;
  padding: 0px;
  padding-left: 12px;
  transform: translateY(3px);
}
.details i:hover{
  transform: scale(1.05);
}
.left p {
  margin-left: 8px;
  margin-right: 8px;
}
 .input{
  width: 8px;
    border-radius:10px;
    text-align: center;
 }

input[type=text], textarea {
   -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; 
  outline: none;
  padding: 3px 3px 3px 3px;
  margin: 0px;
  border: 1px solid #bbe8ff;
  
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #bbe8ff;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #bbe8ff;
  background-color: #bbe8ff ;
}

input.visited {
  color: red;
 outline: 5px solid orange;  
}

.mid1 {
  display: flex;
  flex-direction: column;
}

.mid2 > div {
  display: flex;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
  justify-content: space-between;
}
.mid1 > div {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.left {
  width: 25%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  background-color: rgba(14, 114, 171, 1);

  color: #e4e4e4;
  height: auto;
}

.fas fa-arrow-left {
  position: fixed;
  top: 8px;
  margin-left: 5px;
}
.right {
  width: 75%;
  background-color: #ffffff;
  padding-top: 20px;
}
.leftnav {
  padding: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

select {
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;

  padding-right: 2rem !important;
}

.dropdown {
  position: relative;
  grid-area: dd;
}
.mids {
  width: 24px;
  border-radius: 10px;
  text-align: center;
}

.dropdown-i {
  position: absolute;
  right: 40px;
  top: 30%;
}
.fas fa-chevron-circle-left {
  size: 30px;
}
.display {
  grid-area: pr;
  background-color: #bbe8ff;
  opacity: 0.7;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.btngrading {
  margin-left: auto;
  margin-right: auto;
}

.remarks {
  grid-area: re;
  justify-self: center;
  margin-top: auto;
}

.remarks-title {
  grid-area: rt;
  justify-self: start;
}


.preview {
  width: auto;
  display: grid;
  gap: 16px;
  justify-content: center;

  grid-template-areas:
    ". title dd "
    "pr pr pr "
    "rt rt rt"
    "re re re";
}
.menubar {
  background-color: rgb(4, 43, 116);
}
.remarksCon {
  grid-area: rt;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 8rem;
}

.selectList{
  background-color: #e5e4e2;
  width: "200px";
  padding: 8px,

}

.selectList:active{

}


@media screen and (max-width: 770px) {
  .grading {
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
    height: auto;
    position: relative;
    overflow: visible;
  }
  .black{
    top: 10px !important;
    color: rgb(100, 100, 100);
  }
  .left {
    width: auto;
    justify-content: center;
    padding: 10px;
  }
  .right {
    width: auto;
  }
  .remarksCon {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    width: auto;
    flex-direction: column;
    transform: translateY(180px);
    display: flex;
  }
  .preview{
      margin: 16px;
  }
}
@media screen and (max-width: 1220px) and (min-width:770px) {

  .details{
    flex-direction: column;

  }
  .details div{
    display: flex;
    flex-direction: column;
    justify-items: center;
   
  }
  .details i{
    padding: 8px;
    margin: auto;
  }
}