.loginPage {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}
.image {
  width: 100%;
  margin-bottom: 150px;
  height: 80px;
}
Button {
  width: 250px;
  height: 60px;
  font-size: x-large;
}
.icons {
  color: #0e72ab;
  font-size: 50px;
}
.student {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.faculty {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap:10px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 125px;
    align-items: center;
    justify-content: center;
}
