.loginPage {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}
.image {
  width: 100%;
  margin-bottom: 80px;
  height: 100px;
}
Button {
  width: 250px;
  height: 60px;
  font-size: x-large;
  border-radius: 30px !important
}
.icons {
  color: #0e72ab;
  font-size: 50px;
}
.button-and-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
}
