.div-container-classes{
    justify-content: center;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: min(500px,90%);
    margin-left: auto;
    gap: 16px;
    margin-right: auto;
}
span{
    font-size: 20px;
    display: flex;
    flex-direction: column;

    
}
.card-container{
 font-size: 20px;
 margin-bottom: 5px;
 width: auto;
 padding:10px;
}

@media screen and (max-width:500px) {
    .div-container-classes{
        zoom: 0.7;

    }
    
}




