.div-container-classes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: min(500px, 90%); */
  gap: 16px;
}

.card-flex {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: left; 
  align-items: center;   
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}
.card-container {
  font-size: 20px;
  margin-right: 10px;
  padding: 10px;
}
h4 {
  text-align: left;
}

@media screen and (max-width: 500px) {
  .div-container-classes {
    justify-content: center;
    margin-top: 20px;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    width: min(500px, 90%);
    margin-right:auto;
    margin-left: auto;
    padding-left: 0px;
    zoom: 0.7;
    gap: 16px;
  }
  .card-flex {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  .card-container {
    font-size: 20px;
    margin-bottom: 5px;
  }
  h4 {
    text-align: center;
  }
}
