.nav{
    display:flex;
    justify-content: center;
    height: 74px;
    background-color:rgba(14, 114, 171, 1);
    align-items: center;
    color:white;
    font-size:24px;
    font-weight:200;
}
.btn{
    position:absolute;
    color:white;
    margin-right:7px;
    right: 0;
    background-color:rgba(245, 245, 245, 0.81);
    width: 279px;
    height:75px;
    border-radius:20px;
    font-size:24px;
}
.bck{
    position:absolute;
    left:0;
    margin-left:30px;
    font-size:25px;
    width:max-content;
    color:white;
    border-style: none;
    background-color:rgba(14, 114, 171, 1);
}
i2{
    margin-right: 20px;
}