.div-container-classesHOD {
    
justify-content: center;
display: flex;
flex-direction: column;
width: min(500px, 90%);
padding-left: 20px;
flex-wrap: wrap;
gap: 16px;

  }
  .card-flex {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;
  }
@media screen and (max-width:500px) {
    .div-container-classesHOD {
        justify-content: center;
        margin-top: 20px;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
        width: min(500px, 90%);
        margin-right:auto;
        margin-left: auto;
        padding-left: 0px;
        zoom: 0.7;
        gap: 16px;
      }
      .card-flex {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
      }
      .card-container {
        font-size: 20px;
        margin-bottom: 5px;
      }
   
    .root-hod{
        display: flex;
        flex-direction: column;
    }    
}
.card-container {
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
  }
.hod-button{
    margin-top: 10px;
    align-self: center;
    justify-self: center;
    margin-bottom: 10px;
}
.hod-dd{
    justify-content: space-evenly;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}
.dd-text{
    text-align: center;
}
.dep-title{
    text-align: left;
    font-weight: bold;
    color:#0E72AB;
    padding-left: 5px;
}
.view-style{
    display: flex;
    justify-content:center;
}
.xyz{
    width:200px;
}

