.root-hod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.dep-title {
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: #0e72ab;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dd-text {
  text-align: center;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 5px;
}

.selectHOD {
  max-width: 300px;
  min-width: 270px;
  justify-self: center;
  align-self: center;
}

.hod-button {
  margin-top: 10px;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 20px;
}
.report-button{
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}