.lockList-container{
  text-align: center;
}

.locklist-button {
  margin: 10px;
}
.small{
  padding:0px;
  margin: 0px;
  width:0px;
  border:aqua;
}
.list-container {
  background-color: rgb(176, 196, 222, 0.25);
  height: 440px;
  width: 300px;
  border-radius: 10px;
  padding: 5px;
}
.enroll-dropdown{
  margin:10px;
}

.flex-container {
  display: flex;
  gap: 30px;
 
  flex-wrap: wrap;
  justify-content: center;
}
.select-locklist{
  max-width: 300px;
  min-width: 270px;
  justify-self: center;
  align-self: center;
  margin:15px;
}

.instruction {
  color: #0e72ab;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.course-heading{
  text-align: center;
  margin: 5px;
  color:#0e72ab;
}
.list-head{
  padding:10px;
  margin: 5px;
}

.locklist-dropdown-title {
  font-weight: 500;
}
.add-button{
  border: none;
  background-color: white;
  width:auto;
  font-size: 16px;
  margin-top: 5px;
}
.lock-screen-icon{
 text-align: right;
 color:#0e72ab;
}
.li-tag-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left : 1px;
  text-align: left;
}

.addclasses-root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addclasses-dropdown{
 
  margin:10px;
  
  align-items: center;
  justify-content: center;
}
.addclasses-dropdown-title{
  text-align: center;
}
.addclasses-btn{
  text-align: center;
  border-radius: 7px !important;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: large;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.addclasses-btn:hover{
  box-shadow: none;
}
.addclasses-btn:disabled{
  background-color: grey;
  cursor: not-allowed;
}
.addclasses-btn-div{
 display: flex;
 align-items: center;
 justify-content: center;
}