.lockList-container{
  text-align: center;
}

Button {
  margin: 10px;
}
.list-container {
  background-color: rgb(176, 196, 222, 0.25);
  height: 440px;
  width: 300px;
  border-radius: 10px;
  padding: 5px;
}

.flex-container {
  display: flex;
  gap: 30px;
 
  flex-wrap: wrap;
  justify-content: center;
}
.select{
  max-width: 300px;
  min-width: 270px;
  justify-self: center;
  align-self: center;
}

.instruction {
  color: #0e72ab;
  font-weight: bold;
  letter-spacing: 0.4px;
}
h4{
  text-align: center;
}
li{
  margin : 10px;
  text-align: left;
}
button{
  border: none;
  background-color: white;
}

