.lockList-container{
  text-align: center;
}

.locklist-button {
  margin: 10px;
}
.small{
  padding:0px;
  margin: 0px;
  width:0px;
  border:aqua;
}
.list-container {
  background-color: rgb(176, 196, 222, 0.25);
  height: 440px;
  width: 300px;
  border-radius: 10px;
  padding: 5px;
}
.dropdown{
  margin:0px;
}

.flex-container {
  display: flex;
  gap: 30px;
 
  flex-wrap: wrap;
  justify-content: center;
}
.select{
  max-width: 300px;
  min-width: 270px;
  justify-self: center;
  align-self: center;
}

.instruction {
  color: #0e72ab;
  font-weight: bold;
  letter-spacing: 0.4px;
}
h4{
  text-align: center;
  margin: 5px;
  color:#0e72ab;
}
ul{
  padding:10px;
  margin: 5px;
}
li{
  margin-left : 1px;
  text-align: left;
}
.add-button{
  border: none;
  background-color: white;
  width:auto;
  font-size: 16px;
}
.lock-screen-icon{
 text-align: right;
 color:#0e72ab;
}
.li-tag-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

