.lockList-container {
  text-align: center;
}

.locklist-button {
  margin: 10px;
}
.btn-container{
  display: flex;
justify-content: center;
}
.small {
  padding: 0px;
  margin: 0px;
  width: 0px;
  border: aqua;
}
.list-container {
  border-radius: 10px;
  padding: 0.5rem;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  gap: 30px;
  padding: 15px 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.select-locklist {
  max-width: 300px;
  min-width: 270px;
  text-align: left;
  justify-self: center;
  align-self: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.list-head {
  padding-bottom: 5px;
}
.instruction {
  color: #0e72ab;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.course-heading {
text-align: center;
  margin: 0px;
  color: #0e72ab;
  font-weight: bold;
  padding: 10px;
  padding-top: 0px;
}

.locklist-dropdown-title {
  font-weight: 500;
  margin: 0px;
  margin-bottom: 10px;
}
.add-button {
  border: none;
  background-color: white;
  width: auto;
  font-size: 16px;
  margin-top: 5px;
}
.lock-screen-icon {
  text-align: right;
  color: #0e72ab;
}
.li-tag-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;
  box-shadow: 0px 3px 1px 1px #0e72ab;
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
  background-color: rgb(176, 196, 222, 0.25);
}



@media screen and (max-width: 600px) {
  .li-tag-flex {
    width: 100%;
  }
  .list-container {
    width: 80%;
  }
}
