.nav{
    display:flex;
    z-index: 0;
    justify-content: center;
    height: 64px;
    background-color:#0E72AB;
    align-items: center;
    color:white;
    font-size:25px;
    font-weight:400;
    width:100%;
}
.btn{
    position:absolute;
    right:0;
    z-index: 1;
    margin-right:12px;
    font-size:x-large;
    width:max-content;
    color:white;
    border-style: none;
    background-color:#0E72AB;
    margin-top: 3px;
}
.bck{
    position:absolute;
    z-index: 1;
    left:0;
    margin-top: 3px;
    margin-left:12px;
    font-size:25px;
    width:max-content;
    color:white;
    border-style: none;
    background-color:#0E72AB;
    justify-self: center;
    align-self: center;
}

