.nav{
    display:flex;
    justify-content: center;
    height: 64px;
    background-color:#0E72AB;
    align-items: center;
    color:white;
    font-size:24px;
    font-weight:200;
    width:100%;
}
.btn{
    position:absolute;
    right:0;
    margin-right:12px;
    font-size:25px;
    width:max-content;
    color:white;
    border-style: none;
    background-color:#0E72AB;
}
.bck{
    position:absolute;
    left:0;
    margin-left:12px;
    font-size:25px;
    width:max-content;
    color:white;
    border-style: none;
    background-color:#0E72AB;
}
i2{
    justify-self: center;
    align-self: center;
}