.nav{
    display:flex;
    z-index: 0;
    justify-content: center;
    height: 64px;
    background-color:#0E72AB;
    align-items: center;
    color:white;
    font-size:25px;
    align-items: center;
    font-weight:200;
    width:100%
}
.nav > *{
    flex: 1;
}
.title{
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    flex-grow: 1;
    text-align: center;
}
.createPRA > *{
    margin-right: 2rem;
}
.btn{
    position:absolute;
    right:0;
    z-index: 1;
    margin-right:12px;
    font-size:x-large;
    width:max-content;
    color:white;
    border-style: none;
    background-color:#0E72AB;
    margin-top: 3px;
}
.bck{
    position:absolute;
    z-index: 1;
    left:8px;
    margin-top: auto;
    margin-bottom: auto;

    font-size:20px;
    width:max-content;
    color:white;
    border-style: none;
    background-color:#0E72AB;
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 500px)
{
    #hide{
        display:none;
    }
}
