
.main{
   display: flex;
   width: 100vw;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   /* font-weight: bold; */
   margin-top: 50px;
}

/* .buttton{
   color: rgba(14, 114, 171, 1);
   width: 100px;
   justify-self: bottom;
   margin-top: 100px;
} */

input[type="file"] {
   display: none;
 }

 .customFileUpload {
   background-color: rgba(176, 196, 222, 0.43);
   color: rgba(11, 91, 138, 1);
   outline: none;
   padding: 5px 10px;
   border-radius: 5px;
   border: none;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   margin-top: 10px;
   width:70px;
   align-self: center;
 }
 .customFileUpload:hover{
  
      box-shadow: none;
      border:1px solid #e5e4e2;
    
 }
 .customflex{
    display: flex;
    flex-direction: column;
 }

.UploadinputStyle{
   font-size: 20px;
   outline: none;
   background-color: #e5e4e2;
   padding: 10px 15px;
   border: none;
   border-radius: 7px;
   font-weight: normal;
}
.editbutton{
   text-align: center;
   border-radius: 7px !important;
   border: none;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   font-size: large;
   background-color: #0e72ab;
  color: white;
  width:100px;
 height: auto;
 padding: 5px 10px !important;
 align-self: center;
}

.praLabel{
   font-weight:medium !important ;
   font-size: 17px;
   padding-left: 15px;
   align-self: center;
}
label{
   font-weight: medium;
}
.uploadbutton{
  background-color: #0E72AB;
  color:white;
  align-self: center;
  justify-self: center;
}
.fileContainer{
   margin-bottom: 25px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.errorField{
   color:red;
   padding-left: 15px;
   font-size:12px;
   font-weight: 450;
}

.instructions{
   color:#0E72AB;
   font-size:16px;
   font-weight: bold;
   margin: 0px;
}

.fileName{
   color:darkslategrey;
   font-size:14x;
   font-weight: 450;
}

.selectList{
   width: auto;
   outline: none;
   border: none;
   border-radius: 14px;
   background-color: #e5e4e2;
   font-size: large;
   font-weight: 500;
   padding: 10px;
   
   /* -moz-appearance:none; 
   -webkit-appearance:none; 
   appearance:none;
   background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: center;  */
   
}
.pratitle{
   font-weight: medium;
   font-size: 20px;
   letter-spacing: 0.2px;
   align-self: center;
}

.fileUploadModule{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.editflex{
   display: flex;
   flex-direction: column;
}
/* 
.btn{
   background-color: rgba(14, 114, 171, 1);
   color: white;
   justify-self: bottom;
   margin-top: 50px;
   border: none;
   outline: none;
   padding: 10px 30px;
   border-radius: 6px;
   font-size: large;
   cursor: pointer;
} */