.download{
    color: #0E72AB;
    font-size:30px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.download:hover{
    font-size: 32px;
    transition:1ms ease-out;
}
