.download{
    color: #0E72AB;
    font-size: x-large;
    text-transform: capitalize;
    border: 1px;
    padding:6px 14px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.downloadIcon{
    outline: #0E72AB;
    padding: 2px;
    filter: invert(100%);
}
