.App {
  font-family: 'Inter', sans-serif;
}
body{
  margin: 0px !important;
}

<<<<<<< HEAD

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
=======
body{
  margin: 0px !important;
>>>>>>> ec4b59876422dd3ef0e3075bc499eb6b3e9feaca
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}