.contactComponent{
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1029%26quot%3b)' fill='none'%3e%3ccircle r='93.335' cx='36.33' cy='-29.91' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='414.45' cy='337.54' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='828.28' cy='672.35' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='80.125' cx='1175.99' cy='352.91' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='100.995' cx='211.22' cy='126.77' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='56.78' cx='914.21' cy='217.91' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='184.44' cx='984.3' cy='75.62' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='55.885' cx='1260.21' cy='526.11' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='167.375' cx='555.33' cy='493.59' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3ccircle r='166.73' cx='1.5' cy='439.53' stroke='%23566799' stroke-opacity='0.28' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1029'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.formComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactTitle{
    font-size: x-large;
    text-align: center;
}

.field{
    margin: 14px auto;
}

.inputFieldStyle{
    outline: none;
    border:none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: large;
    background-color:#e2e2e2;
    width: 420px;
}

.errorFieldStyle{
    outline: none;
    box-shadow:grey  0px 2px 8px 0px;
    border:none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: large;
    background-color:#e2e2e2;
    width: 420px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}


.textareaStyle{
    max-width: 420px;
    width: 420px;
    outline: none;
    border:none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: large;
    background-color:#e2e2e2;
}

.contactButton{
    outline: none;
    border: none;
    font-size: large;
    background-color: #0e72ab;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    width: 150px;
}

.labelStyle{
    font-size: large;
    font-weight: 700;
    padding: 4px auto; 
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }