.spinner {
    position: relative;
    width: 125px;
    height: 125px;
}

.spinner:before, .spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
}

.spinner.spinner-1:before {
    width: 45px;
    height: 45px;
    border-bottom-color: #212121;
    border-right-color: #212121;
    border-top-color: rgba(33, 33, 33, 0);
    border-left-color: rgba(33, 33, 33, 0);
    top: 0px;
    left: 0px;
    animation: rotate-animation 1s linear 0s infinite;
}
.spinner.spinner-1:after {
    width: 27px;
    height: 27px;
    border-bottom-color: #212121;
    border-right-color: #212121;
    border-top-color: rgba(33, 33, 33, 0);
    border-left-color: rgba(33, 33, 33, 0);
    top: 9px;
    left: 9px;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
}

.spinnerDark {
    position: relative;
    width: 125px;
    height: 125px;
}

.spinnerDark:before, .spinnerDark:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
}

.spinnerDark.spinnerDark-1:before {
    width: 45px;
    height: 45px;
    border-bottom-color: white;
    border-right-color: white;
    border-top-color: rgba(33, 33, 33, 0);
    border-left-color: rgba(33, 33, 33, 0);
    top: 0px;
    left: 0px;
    animation: rotate-animation 1s linear 0s infinite;
}
.spinnerDark.spinnerDark-1:after {
    width: 27px;
    height: 27px;
    border-bottom-color:white;
    border-right-color: white;
    border-top-color: rgba(33, 33, 33, 0);
    border-left-color: rgba(33, 33, 33, 0);
    top: 9px;
    left: 9px;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
}


/* spinner-1 styles */
@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
   }
   60%{
       transform: rotate(240deg);
   }
    100% {
        transform: rotate(360deg);
   }
}

@keyframes anti-rotate-animation {
    0% {
        transform: rotate(0deg);
   }
   60%{
    transform: rotate(240deg);
}
    100% {
        transform: rotate(-360deg);
   }
}

.loadingScreen{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

