.spinner{

    display: inline-block;
    border: 4px solid rgba(128, 128, 128, 0.459);
    border-radius: 50%;
    border-top-color: #0E72AB;
    animation: spin 0.8s infinite cubic-bezier(.35,1.34,.87,.47)   ;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loadingScreen{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}