.CoESearch-container{
   
    text-align: center;

}
Button{
    margin: 20px;
    align-self: center;
    
}

.dropdown-title {
    font-weight:500;
  }
.select{
    max-width: 300px;
    min-width: 270px;
    justify-self: center;
    align-self: center;
}
.coe-dropdown{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-right: auto;
   margin-left: auto;
  
}