.CardContainer {
  height: 180px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font-size: 20px; */
  /* padding: 5px; */
  background: rgba(176, 196, 222, 0.43);
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.red {
  background-color: #fdcbc9;
}
.newcard {
  margin: 0.5rem;
  font-size: 15px;
}
.newcardtitle {
  margin: 0.5rem;
  font-size: 20px;
}

.green {
  background-color: #daffb0;
}

p {
  margin: 0.5rem;
}
.CardContainer {
  width: 220px;
}
.CardContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 700px) {
  .CardContainer {
    width: 200px;
  }
}
