.electives-dropdown{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
   
}
.electives-button{
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}
.select{
    max-width: 300px;
    min-width: 270px;
    justify-self: center;
    align-self: center;
}
p{
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
}