.root {
  text-align: center;
  border-radius: 7px !important;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: large;
  width: 100px;
  height: 50px;
}
.normal {
  background-color: #0e72ab;
  color: white;
  width: auto !important;
  padding: 5px 16px !important;
  height: auto !important;
}
.rare {
  background-color: rgba(176, 196, 222, 0.43);
  color: rgba(11, 91, 138, 1);
}
i {
  margin: 5px;
}

.root:hover {
  box-shadow: none;
  border:1px solid #e5e4e2;
}

@media screen and (max-width: 500px) {
  .root {
    width: 70px;
    border-radius: 7px !important;
    height: 30px;
    font-size: 14px;
  }
}
