.root
{
  background-color: #0E72AB;
  color: white;
  text-align: center;
  border-radius: 30px;
  border:none;
  box-shadow: 0 2px 2px 2px rgb(85, 85, 85);
  font-size: large;
}

.root:hover {
    box-shadow: none;

  }

